{% if title %}
<div class="plkAgendaYear microlib_tabs_tab" data-title="{{ title|render|striptags|trim }}">
{% endif %}
{% for row in rows %}
    {{ row.content }}
{% endfor %}
{% if title %}
</div>
{% endif %}