@charset 'UTF-8';

@import 'colors';
@import 'fonts';
@import 'common';
@import 'header';
@import 'footer';
@import './components/*';

body {
  font-family: 'Raleway';
  background: $bg-color;
}

.plkWrapper {
  color: $text-color;
  background-image: url('/themes/custom/planck_theme/img/background.png');
  background-position-y: 200px;
  background-position-x: 0;
  background-repeat: no-repeat;
  background-size: 325px 765px;
  background-attachment: fixed;
  .plkContent {
    display: flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 1em;
    width: 1024px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.plkMain {
  min-height: 400px;
}
